.allerta-bold {
  font-family: 'Allerta';
  font-weight: bold;
}

.allerta {
  font-family: 'Allerta';
}

.arial {
  font-family: 'arial';
}
.arial-bold {
  font-family: 'arial';
  font-weight: bold;
}
.aria-cursive {
  font-family: 'arial';
  font-style: italic;
}

.text {
  font-size: 20px;
}


body {
  height: 100%;
  background-color: rgb(250,250,250);
  font-family: 'arial';
}

.container {
  background-color: white;
}
nav {
  width: 100%;
  position: fixed;
  height: 60px;
  background-color: rgba(20,20,20,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(50,50,200);
  z-index: 3;
}
nav a {
  padding-left: 23px;
  padding-right: 23px;
  height: 100%;
  display: flex;
  align-items: center;
  color: rgb(50,50,200);
  color: white;


}
nav a:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(50,50,200);
}
footer {
  background-color: grey;
  height: 200px;
}

.high {
  max-height: 1000px;
}

#home {
  background-image: url("../images/bike.PNG");
  max-width: 100%;
  /* height: 900px; */
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.home-cover {
  width: 100%;
  /* height: 900px; */
  background-color: rgba(10,10,30,0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.section-title {
  width: 100%;
  margin-bottom: 40px;
  color: rgb(50,50,200);
  border-bottom: 2px solid rgb(50,50,200);
}
#about-me {
  padding-top: 100px;
  margin-left: 4%;
  margin-right: 4%;
}



.about-me-contain {
  display: flex;
  align-items:  flex-start;
  justify-content: center;
}

.about-me-info {
  width: 60%;
  float: left;
  margin-right: 2.5%;
}

.p-data {
  width: 75%;
  border-bottom: 1.5px solid rgb(50,50,200);
}

.p-justify {
  text-align: justify;
  text-justify: inter-word;
}

.about-me-info button {
  text-align: center;
}
.about-me-images {
  width: 30%;
  float: right;
  text-align: center;
}

.about-me-images img {
  width: 100%;
  border-radius: 50%
}

.about-me-skills {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  width: 90%;
  margin: auto;
}

.skill {
  width:10%;
  /* height: 250px; */
  margin: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 5px;
  /* border: 1px solid blue; */
}

.skill img {
  width: 100%;
}

#experience {
  padding-top: 100px;
  margin-left: 4%;
  margin-right: 4%;
}

.experiences {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.experience {
  margin: 30px;
  width: 40%;
}

#portafolio {
  padding-top: 100px;
  padding-bottom: 60px;
  margin-left: 4%;
  margin-right: 4%;
}

.proyects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap
}

.proyect {
  margin: 10px;
  box-shadow: 5px 10px 10px #888888;
  border-radius: 15px;
  border: 1px solid grey;
}

.proyects img {
  padding: 10px;
  width: 310px;
  height: 250px;
}

.proyect-hover {
  display: none;
  position: relative;
  z-index: 1;
  margin-top: -250px;
  height: 252px;
  width: 100.5%;
  border-radius: 13px;
  background-color: rgba(10,10,10,0.5)
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

a button.proyects {
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  border: 1px solid white;
}

a:hover {
  text-decoration: none;
}

#contact {
  padding-top: 30px;
  background-color: grey;
}
